.addbut{
   color:white;
   background-color: #2a5c93;
   font-family: "Arial", san-serif;
   border-radius: 8px;
   position: absolute;
   right:40px;
   top:100px;
}

.h1{
	font-size:200%;
	margin:20px;
}

#table{
	margin:15px;
}

#editlink{
	color: #666666;
}

#link{
	color: #262626;
}
