
h1{
	text-align:center;
	font-size:500%;
	color:white;
	
}

#img{

	margin-top:150px;
	margin-right:10px;
}

.but {
   color:white;
   background-color: #2a5c93;
   font-family: "Arial", san-serif;
   border-radius: 8px;
   position: absolute;
   margin: 5px;
   left: 50px;
}

.abut {	
   color:white;
   position: relative;
    background-color: #2a5c93;
   font-family: "Arial", san-serif;
   border-radius: 8px;
   margin: 5px;	
   left: 550px;
}
u {
    text-decoration: none;
    border-bottom: 10px solid black;
  }​